/*#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}*/

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}
#root {
  height: 100%;
}
.ant-layout {
  width: 100%;
  height: 100%;
}
.icon-trigger {
  margin-left: 5px;
  cursor: pointer;
}
.spin {
  :global .ant-spin-container {
    height: 100vh;
    width: 100%;
    min-height: 100vh;
    background: #fafafa;
   // background-image: url("../assets/bg.jpg");
  }
}
.spin___1jKvQ .ant-spin-container {
  height: 100vh;
}
.ant-spin-container {
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  position: relative;
}
.ant-spin-nested-loading {
  position: relative;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -160px 0 0 -160px;
  width: 402px;
  height: 402px;
  padding: 36px;
  box-shadow: 0 0 100px rgba(0,0,0,.08);

  button {
    width: 100%;
  }

  p {
    color: rgb(204, 204, 204);
    text-align: center;
    margin-top: 16px;

    span {
      &:first-child {
        margin-right: 16px;
      }
    }
  }
}

.logo {
  text-align: center;
  height: 40px;
  //line-height: 40px;
  cursor: pointer;
  margin-bottom: 60px;

  img {
    width: 170px;
  }

  span {
    //vertical-align: text-middle;
    margin-top: 20px;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
  }
}

.ant-spin-container,
.ant-spin-nested-loading {
  height: 100%;
}


.containAll {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .github {
    position: absolute;
    top: 20px;
    left: 14px;
    font-size: 36px;
    //animation: App-logo-spin infinite 20s linear;
  }
  .author {
    position: absolute;
    top: 20px;
    left: 65px;
    font-size: 24px;
    font-weight: 600;
    font-family: "Microsoft YaHei", "SimHei"
  }
  .white {
    color: white
  }
  .menu {
    height: 100%;
    padding-top: 75px;
    top: 10%;
    overflow: scroll;
  }
  .switch {
    position: absolute;
    bottom: 4%;
    right: 5%;
  }
}

.ant-layout-sider-trigger {
  display: none;
}

.ant-layout-header {
  //margin-left: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-layout-sider-collapsed .nav-text {
  display: none;
}

.ant-menu-submenu-vertical>.ant-menu-submenu-title:after {
  // 对缩放时的menu样式进行处理
  display: none;
}

.ant-menu-submenu-vertical .ant-menu-submenu-title span span {
  display: none;
}

.ant-layout-sider-collapsed .author {
  display: none;
}
.containAll .antd-menu {
  height: 100%;
  padding-top: 75px;
}
.logOut {
  float: right;
  width: 100px;
}
